<div class="nexus-container">
    <header>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-10">
                <div class="logo">&nbsp;</div>
            </div>
            <div class="col-md-1">
                <div class="language pull-left">
                    <select class="form-control" [(ngModel)]="selectedLanguage">
                        <option *ngFor="let language of languages" [ngValue]="language">{{language.displayName}}</option>
                    </select>
                </div>
            </div>
        </div>
    </header>

    <router-outlet></router-outlet>

    <footer class="bs-docs-footer" role="contentinfo">
        <div class="row alert-info">
            <div class="col-md-10 col-md-offset-1">
                <div class="pull-left">
                    {{buildInfo.copyright}}
                </div>
                <div class="pull-right">
                    {{buildInfo.buildVersion}}
                </div>
                <div class="pull-right">
                    {{buildInfo.productName}}
                </div>
            </div>
        </div>
    </footer>
</div>
