<div class="nexus-container">
    <header>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <div class="logo">&nbsp;</div>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav navbar-nav navbar-right">
                            <li *ngIf="isLoggedIn()"><a [routerLink]="['logout']" href="javascript:0"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout</a></li>
                            <li *ngIf="!isLoggedIn()"><a [routerLink]="['login']" href="javascript:0">Login</a></li>
                            <li class="dropdown">
                                <a href="javascript:0" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Locale <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let language of languages"><a href="javascript:0">{{language.displayName}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <router-outlet></router-outlet>

    <footer class="bs-docs-footer" role="contentinfo">
        <div class="row alert-info">
            <div class="col-md-10 col-md-offset-1">
                <div class="pull-left">
                    {{buildInfo.copyright}}
                </div>
                <div class="pull-right">
                    {{buildInfo.buildVersion}}
                </div>
                <div class="pull-right">
                    {{buildInfo.productName}}
                </div>
            </div>
        </div>
    </footer>
</div>
