<div class="container-fluid search-config-container">
    <form>
        <div class="form-group">
            <label for="searchConfigName">Search config name:</label>

            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <select class="form-control" id="searchConfigName">
                        <option selected>Persons</option>
                        <option>Departments</option>
                    </select>
                </div>
            </div>
        </div>
        <table class="form">
            <thead>
            <tr>
                <th>
                    <div class="form-group form-group-sm">
                        <label for="firstName">FirstName and very long header text</label>
                        <div class="row">
                            <div class="col-md-7 col-xs-7">
                                <input class="form-control" id="firstName" placeholder="Search..."/>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <select class="form-control">
                                    <option selected>EQUALS</option>
                                    <option>CONTAINS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="form-group form-group-sm">
                        <label for="lastName">LastName</label>
                        <div class="row">
                            <div class="col-md-7 col-xs-7">
                                <input class="form-control" id="lastName" placeholder="Search..."/>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <select class="form-control">
                                    <option>EQUALS</option>
                                    <option selected>CONTAINS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="form-group form-group-sm">
                        <label>Birthday</label>
                        <div class="row">
                            <div class="col-md-7 col-xs-7">
                                <input class="form-control" placeholder="Search..."/>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <select class="form-control">
                                    <option selected>EQUALS</option>
                                    <option>CONTAINS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
        </table>
        <button type="reset" class="btn btn-default">Clear</button>
        <button type="submit" class="btn btn-primary">Search</button>
        <div class="form-group">&nbsp;</div>
    </form>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>FirsName</th>
                <th>LastName</th>
                <th>Birthday</th>
            </tr>
            </thead>
            <tbody>
            <tr [ngClass]="person.selected ? 'info' : ''" *ngFor="#person of [
            {'firstName':'Mario','lastName':'Tema', 'dob': '20.02.1971'},
            {'firstName':'Mario','lastName':'Tema', 'dob': '20.02.1971'},
            {'firstName':'Mario','lastName':'Tema', 'dob': '20.02.1971', selected:true},
            {'firstName':'Mario','lastName':'Tema', 'dob': '20.02.1971'},
            {'firstName':'Mario','lastName':'Tema', 'dob': '20.02.1971'},
            {'firstName':'Mario','lastName':'Tema', 'dob': '20.02.1971'}
            ]">
                <td>{{person.firstName}}</td>
                <td>{{person.lastName}}</td>
                <td>{{person.dob}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
