.nexus-container .logo {
    background-image: url("../image/logo.png");
    background-repeat: no-repeat;
    background-position: center left;
    height: 55px;
    width: 200px;
}

.nexus-container .language {
    padding-top: 15px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #f0f0f0;
    z-index: 10;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 20px;
}

.body {
    padding-top: 100px;
    z-index: 1;
}

.command-button h4,
.command-button h6 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.command-button {
    padding-left: 60px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
}

.tab-container {
    padding: 10px 15px;
    border: solid 1px #dddddd;
    border-top: none;
}

.tab-container .command-button {
    text-align: left;
}

.tab-container .tasks {
    /*background-image: url("/image/post.png");*/
}

.tab-container .credentials {
    /*background-image: url("/image/credentials.png");*/
}

.tab-container .request {
    /*background-image: url("/image/request.png");*/
}

.tab-container .scim {
    /*background-image: url("/image/scim.png");*/
}

.tab-container .card-production {
    /*background-image: url("/image/card-production.png");*/
    background-position: right 50%;
    background-repeat: no-repeat;
    height: 40px;
}

.modal-body {
    max-height: calc(100vh - 300px);
    min-height: calc(100vh - 300px);
    overflow-y: auto;
}

.pagination {
    margin: 0;
}

.pagination li.action {
    cursor: pointer;
}

.rows-per-page {
    width: 75px !important;
}
