<div class="body">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-info">
                <p><translate key="login.info"></translate></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <button data-toggle="modal" type="button" class="btn btn-default btn-lg btn-block"
                    (click)="executeCommand(command, loginModal)"
                    [ngClass]="command.selected ? 'btn-primary' : ''"
                    *ngFor="let command of commands">{{command.displayName}}
            </button>
        </div>
    </div>
</div>

<div class="modal fade" [ngClass]="hidden" role="dialog" id="loginModal" #loginModal>
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <form class="form-horizontal" [ngFormModel]="loginForm" (submit)="doLogin(loginModal)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <translate key="label.login"></translate>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info"><p><translate key="login.form.info"></translate></p></div>
                    <div class="form-group">
                        <label for="inputUsername" class="col-sm-3 control-label">
                            <translate key="label.username"></translate>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ngControl="userName" id="inputUsername" autofocus=""
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-3 control-label">
                            <translate key="label.password"></translate>
                        </label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" ngControl="password" id="inputPassword"
                                   required>
                        </div>
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-danger"><p>{{errorMessage}}</p></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid"><translate key="label.login"></translate></button>
                </div>
            </form>
        </div>
    </div>
</div>
