<div class="tab-container">
    <div class="alert alert-info">
        <p *ngFor="let message of messages">
            {{message}}
        </p>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                <input type="text" class="form-control" [(ngModel)]="query" placeholder="Search..." aria-describedby="sizing-addon2">
                <span class="input-group-addon" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="card-production">&nbsp;</div>
        </div>
    </div>

    <div class="input-group">&nbsp;</div>

    <a *ngFor="let command of commands | commandPipe:query" href="javascript:0" type="button" [ngClass]="command.id" class="btn btn-default btn-block command-button" >
        <h4>{{command.displayName}}</h4>
        <h6 *ngIf="command.description">
            <span [innerHTML]="command.description"></span>
        </h6>
    </a>

    <div *ngIf="commands.length === 0" class="row">
        <div class="col-md-12">
            <h4>{{emptyEntriesMessage}}</h4>
        </div>
    </div>

</div>
