<div class="form-group">
    <p [ngSwitch]="component.type">
        <template ngSwitchCase="text">
            <label>{{component.label}}</label>
            <input type="text" class="form-control" [disabled]="component.disabled" [placeholder]="component.label"
                   [(ngModel)]="component.value">
        </template>
        <template ngSwitchCase="password">
            <label>{{component.label}}</label>
            <input type="password" class="form-control" [disabled]="component.disabled" [placeholder]="component.label"
                   [(ngModel)]="component.value">
        </template>
        <template ngSwitchCase="textarea">
            <label>{{component.label}}</label>
            <textarea class="form-control" [disabled]="component.disabled" [placeholder]="component.label"
                      [(ngModel)]="component.value"></textarea>
        </template>
        <template [ngSwitchCase]="'checkbox'">
            <div class="checkbox">
                <label>
                    <input type="checkbox" [checked]="component.checked" [disabled]="component.disabled"
                           [(ngModel)]="component.name"> {{component.label}}
                </label>
            </div>
        </template>
        <template [ngSwitchCase]="'radio'">
            <div class="radio">
                <label>
                    <input type="radio" [checked]="component.checked" [disabled]="component.disabled"
                           [name]="component.name"> {{component.label}}
                </label>
            </div>
        </template>
        <template [ngSwitchCase]="'radio-group'">
            <label>{{component.label}} : {{component.value}}</label>
            <div>
                <label class="radio-inline" *ngFor="let radio of component.options">
                    <input type="radio" [checked]="radio.value === component.value" [disabled]="radio.disabled"
                           [name]="component.name" [value]="radio.value" (click)="component.value = radio.value">
                    {{radio.label}}
                </label>
            </div>
        </template>
        <template [ngSwitchCase]="'select'">
            <label>{{component.label}}</label>
            <select class="form-control" [disabled]="component.disabled" [(ngModel)]="component.value">
                <option *ngFor="let option of component.options" [value]="option.value"
                        [selected]="option.value === component.value">
                    {{option.value}}
                </option>
            </select>
        </template>
        <template ngSwitchCase="button">
            <search-component [component]="component" ></search-component>
        </template>
        <template ngSwitchDefault>STOP! Unsupported Component-Type: {{component.type}}</template>
    </p>
</div>